body {
    margin: 0;
    font-family: 'Open Sans', sans-serif; 
  }

  /*NAVIGATION*/
nav {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  top: 0;
  position: fixed;
  z-index: 1;
  color:#191c27;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-template-areas:"img" "nav" ;
  background-color: #fff;
}

nav img {
  width: 250px;
  height: auto;
  grid-area: img;
}

header nav ul {
  list-style-type: none;
  grid-area: nav;
}

header nav ul li {
  display: inline;
  margin: 1em;
}

nav ul i {
    color: #666666;
}

a {
  text-decoration: none;
  color: #666666;
}

a:hover {
  color:#191C27;
}

.dropdown { 
  position: relative;
  display: inline-block;
}
  
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 1px 1px 1px 0.5px rgb(148, 148, 148);
  min-width: 100px;
  z-index: 1;
}
  
.dropdown-content a {
  color: #191c27;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}
  
.dropdown-content a:hover {
  background-color: #f3f3f3;
}
  
.dropdown:hover .dropdown-content {
  display: block;
}

.main-image {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: inherit;
  background-image: url(../images/pexels-tembela-bohle-1114427.jpg);
  background-size: cover;
  background-position-y: 40%;
  filter: contrast(70%);
  z-index: -1;
      background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.main-image-aboutus {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: inherit;
  background-image: url(../images/autumn.jpg);
  background-size: cover;
  background-position-y: 40%;
  filter: contrast(70%);
  z-index: -1;
      background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.main-image-contact {
  width: inherit;
  height: 80vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: inherit;
  background-image: url(../images/owners.jpg);
  background-size: cover;
  background-position-y: 40%;
  filter: contrast(70%);
  z-index: -1;
      background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.container-image {
  position: relative;
}

.main-image-seasons {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: inherit;
  background-image: url(../images/103678221_1044509699277432_4098485357261703069_n.jpg);
  background-size: cover;
  background-position-y: 40%;
  filter: contrast(70%);
  z-index: -1;
      background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.main-image-occasional {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: inherit;
  background-image: url(../images/cake.jpg);
  background-size: cover;
  background-position-y: 40%;
  filter: contrast(70%);
  z-index: -1;
      background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; 
}

.main-image-autumn {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: inherit;
  background-image: url(../images/autumn.jpg);
  background-size: cover;
  background-position-y: 40%;
  filter: contrast(70%);
  z-index: -1;
      background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.main-image-spring {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: inherit;
  background-image: url(../images/spring.jpg);
  background-size: cover;
  background-position-y: 40%;
  filter: contrast(70%);
  z-index: -1;
      background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.main-image-summer {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: inherit;
  background-image: url(../images/head.jpg);
  background-size: cover;
  background-position-y: 40%;
  filter: contrast(70%);
  z-index: -1;
      background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; 
}

.main-image-winter {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: inherit;
  background-image: url(../images/winterpicbuuilding.jpg);
  background-size: cover;
  background-position-y: 40%;
  filter: contrast(70%);
  z-index: -1;
      background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.main-image-wedding {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: inherit;
  background-image: url(../images/weddingcake.jpg);
  background-size: cover;
  background-position-y: 40%;
  filter: contrast(70%);
  z-index: -1;
      background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.main-image-confirmation {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: inherit;
  background-image: url(../images/Lunde-Wedding-19052018-627.jpg);
  background-size: cover;
  background-position-y: 40%;
  filter: contrast(70%);
  z-index: -1;
      background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);
  top: 0;
  left: 0;
}

.hero {
    width: 100%;
    height: 80vh;
    top:0;
    bottom:0;
    position: relative;
    text-align: center;
    color: #fff;
}

/*Spring*/
.hero-bg {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: inherit;
    background-image: url(/assets/images/spring.jpg);
    background-size: cover;
    background-position-y: 40%;
    filter: contrast(90%);
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

/*Wedding*/
.hero-bg2 {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: inherit;
    background-image: url(/assets/images/weddingflowers.jpg);
    background-size: cover;
    background-position-y: 40%;
    filter: contrast(70%);
    z-index: -1;
        background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.hero h1 {
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    padding: 1em 0.5em 0 0.5em;
    color: rgb(255, 255, 255); 
    font-weight: bolder;
    z-index: 1;
}

.hero i {
    font-size: 3em;
    padding-top: 1em;
}

.breadcrumbs {
    width: 100vw;
    padding-top: 110px;
    padding-left: 20px;
    z-index: 2;
    color: #fff;
    text-align: left;
    font-weight: bolder;
}

.breadcrumbs a {
    color: #fff;
}

.breadcrumbs i, nav i {
    font-size: 0.7em;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

.breadcrumbs p {
    font-weight: lighter;
}

.inline {
    display: inline;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.headingWrapperR {
    width: 100%;
    height: 12vh;
    top: 0;
    background-color: #96192b;
    grid-column: 1/3;
}

.headingWrapperB {
    width: 100%;
    height: 12vh;
    top: 0;
    background-color: #191c27;
    grid-column: 1/3;
}

.headingWrapperR-Description {
    width: 100%;
    height: auto;
    top: 0;
    background-color: #96192b;
    grid-column: 1/3;
}

.headingWrapperB h1, .headingWrapperR h1, .headingWrapperR-Description h1, .headingWrapperR-Description p {
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    color: #fff;
}

.headingWrapperR-Description h1, .headingWrapperB h1, .headingWrapperR h1 {
    text-transform: uppercase;
}

.textBox {
    text-align: left;
    padding: 4.5em;
    grid-column: 1/2;
}

.textBox h2 {
  color: #96192b;
}

.textBox p {
    width: 90%;
}

.textBox-button {
  margin-top: 3em;
}

.textBox2 {
  text-align: left;
  padding: 4.5em;
  grid-column: 2/3;
}

.textBox1 {
  text-align: left;
  padding: 4.5em;
  grid-column: 1/2;
  background-color:#191C27;
  color: white;
}

.imageBox {
    grid-column: 2/3;
    width: 100%;
    height: 70vh;
}

.CTAimg {
    height: 60vh;
    background-image: url(../images/weddingflowers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    grid-column: 1/3;
}

.CTAimg2 {
  height: 60vh;
  background-image: url(../images/winter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  grid-column: 1/3;
}

.imageBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.CTAimg button {
    margin-top: 1em;
}

.CTAimg h2 {
    margin-top: 6em;
    color: white;
    text-transform: uppercase;
}

.CTAimg2 h2 {
  margin-top: 6em;
  color: #191C27;
  text-transform: uppercase;
}

.cardsContainer {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  margin: 0 auto;
  padding: 4em 0 4em 0;
}

.heroText {
  padding-top: 7em;
}

.cards {
  width: 20vw;
  height: auto;
  box-shadow: 1px 1px 1px 1px rgb(211, 211, 211);
  border-radius: 20px;
  text-align: center;
  margin: 0 auto;
  background-color:rgb(253, 253, 253);
}

.cards + .cards {
  margin-left: 3em;
}

.cards p {
  padding: 2em;
}

.cards i {
  font-size: 6em;
  margin-top: 0.3em;
  color: #96192b;
  border: none;
}

button {
    border-radius: 20px;
    padding: 1em 2em 1em 2em;
    box-shadow: 0 3px 6px 8px rgba(65, 64, 64, 0.178);
    background-color: #96192b;
    color:white;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

button a {
  color: #fff;
}

footer {
    background-color: #dbdbdb;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer h2 {
    margin-left: 1.6em;
}

footer ul {
    list-style: none;
}

.address {
    grid-column: 1/2;
    padding: 1em;
}

.opening {
    grid-column: 2/3;
    padding: 1em;
}

.contact {
    grid-column: 3/4;
    padding: 1em;
}

/*FORM*/
form {
    width: 30vw;
    min-width: 200px;
    padding: 1em;
  }
  
  form h2, form p {
    text-align: center;
  }
  
  fieldset {
    border: none;
  }
  
  label, input {
    display: block;
  }
  
  input, textarea, select {
    width: 100%;
    padding: 0.3em;
    display: inline-block;
    outline: none;
    overflow: auto;
    border: 1.5px solid lightgray;
  }
  
  textarea {
    height: 100px;
    overflow: auto;
  }
  
  .fName {
    float: left;
    width: 45%;
    padding-bottom: 20px;
  }
  
  .lName {
    float: right;
    width: 45%;
  }
  
  .emailA {
    clear: both;
  }
  
  input[type=submit] {
    width: 10px;
    height: 30px;
    background-color:#96192b;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    box-shadow: 0px 3px 5px 0px rgb(73, 73, 73);
    cursor: pointer;
    float: right;
  }
  
/*Tablet and lower*/
@media only screen and (max-width: 768px) {
        main {
            display: grid;
            grid-template-columns: 1fr;
        }

        .textBox {
            grid-column: 1/2;
        }

        .imageBox {
            grid-column: 1/2;
        }

        .textBox2 {
          grid-column: 1/2;
        }

        header nav ul li {
            margin: 0.25em;
          }

          .cards {
            grid-column: 1/4;
            width: 50vw;
            height: 50vh;
            margin-top: 3em;
          }
    }
/*Footer*/
@media only screen and (max-width: 600px) {
    footer {
        grid-template-columns: 1fr;
    }
    
    .address {
        grid-column: 1/2;
        padding: 1em;
    }

    .opening {
        grid-column: 1/2;
        padding: 1em;
    }

    .contact {
        grid-column: 1/2;
        padding: 1em;
    }
}